{% extends 'DuskUserBundle::layout.html.twig' %}

{% block maincontent %}
{% block fos_user_content %}
<div class="banner dashboard-banner">
    <div class="container white-bg">
        <div class="content">
            <div class="title-div"><span>Member Dashboard</span></div>
            <div class="main-column"> 
                <!--Left Column-->
                <div class="column-left">
                    <h1>Subscribe</h1>
                    <!--Nav left-->
                    {#{ render(controller('DuskUserBundle:Default:leftPanel', {'route':app.request.attributes.get('_route')})) }#}
                    <!--Ends-->
                    <div class="cont-left">
                        <h2>Welcome to Dusk!</h2>
                        <p>By signing up you are agreeing to the Terms and Conditions. Dusk Music will not charge your Credit Card before the two week complimentary signup period has concluded. Click here to unsubscribe. We will not retain any personal information.</p>
                        <h2>Tip 1!</h2>
                        <p>By signing up you are agreeing to the Terms and Conditions. Dusk Music will not charge your Credit Card before the two week complimentary signup period has concluded. Click here to unsubscribe. We will not retain any personal information.</p>
                        <h2>Tip 2!</h2>
                        <p>By signing up you are agreeing to the Terms and Conditions. Dusk Music will not charge your Credit Card before the two week complimentary signup period has concluded. Click here to unsubscribe. We will not retain any personal information.</p>
                        <h2>Tip 3!</h2>
                        <p>By signing up you are agreeing to the Terms and Conditions. Dusk Music will not charge your Credit Card before the two week complimentary signup period has concluded. Click here to unsubscribe. We will not retain any personal information.</p>
                    </div>
                </div>
                <!--Ends-->
                <div class="midcont"><br /><br />
                    {% include "DuskUserBundle:Resetting:request_content.html.twig" %}
                </div>
            </div>
        </div>
    
<!--Right Column-->
<div class="column-right">
    <div class="right-img">
        <p><img src="{{ asset('bundles/duskuser/images/bar-nightclubs-img.png')}}" width="248" height="212" alt=""></p>
        <p><img src="{{ asset('bundles/duskuser/images/right-side-logo.jpg')}}" width="248" height="213" alt=""></p>
        <p><img src="{{ asset('bundles/duskuser/images/img7.jpg')}}" width="248" height="213" alt=""></p>
        <p><img src="{{ asset('bundles/duskuser/images/bar-nightclubs-img.png')}}" width="248" height="212" alt=""></p>
    </div>
</div>
<!--Ends--> 
</div>
</div>
    {% endblock fos_user_content %}
{% endblock maincontent %}
