.caroufredsel_wrapper{width:960px!important;}
.grid-latest-container{float:left; width:960px; margin:50px 0; position:relative;}
.fullsize .content{min-height:10px;}
.content{padding:0;}
.iconbox_top .iconbox_content{border:1px solid #999999; min-height:160px !important;}
.grid-latest-container ul li{width:232px;}
div.mr_social_sharing{margin-left:6px;}
.avia-layerslider{margin-bottom:50px;}