Hello,<br /><br />

Your Friend {{ name }} Invites you to join DUSK
<br />
Please click on link given below to visit DUSK
<br />
<a href="http://www.dusk.com">Visit Dusk</a>
<br /><br />
Regards,<br />
Dusk Team